@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

* {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(foto.svg);
    font-size: 100%;
    background-repeat: no-repeat;
    background-color: #EBEBEB;
}

.cabecalho {
    position: absolute;
    height: 26px;
    left: 835px;
    top: 16px;
}

.cabecalho-menu {
    display: flex;
    gap: 100px;
}

.cabecalho-menu-item {
    font-family: 'Sarabun', sans-serif;
    color:black;
    font-weight: 400;
    font-size: 20px;
}

.cabecalho-menu-item:hover {
    letter-spacing: 0.5px;
    font-style: italic;
}

.cabecalho-menu-item {
    margin-bottom: 48px;
    border-bottom: 0.4px solid #000000;
}

.conteudo-principal-escrito-titulo {
    position: absolute;
    width: 502px;
    height: 235px;
    left: 795px;
    top: 150px;
    
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 104px;
    text-align: center;
    
    color: #000000;
}

.conteudo-principal-escrito-botao {
    position: absolute;
    width: 164px;
    height: 58px;
    left: 964px;
    top: 468px;
    border: none;
    background: #000000;

    border-radius: 20px;
    font-family: 'Sarabun';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.conteudo-principal-escrito-botao:hover {
    background-color: #818080;
    letter-spacing: 2px;
}

@media screen and (max-width: 500px) {
    body {
        background-image: url(fundo.svg);
        background-color: #EBEBEB;
    }

    .cabecalho {
        position: absolute;
        height: 26px;
        left: 65px;
        top: 16px;
    }
    
    .cabecalho-menu {
        display: flex;
        gap: 25px;
    }
    
    .cabecalho-menu-item {
        font-family: 'Sarabun', sans-serif;
        color:black;
        font-weight: 400;
        font-size: 18px;
    }

    .conteudo {
        position: absolute;
        width: 412px;
        height: 0px;
        left: 0px;
        top: 270px;
    }

    .conteudo-principal-escrito-titulo {
        position: absolute;
        left: 0px;
        top: 190px;
        width: 412px;
        word-wrap: break-word;
        
        font-family: 'Sarabun';
        font-style: normal;
        font-weight: 400;
        font-size: 53px;
        line-height: 90px;
        text-align: center;
        
        color: #000000;
    }
    
    .conteudo-principal-escrito-botao {
        position: absolute;
        width: 164px;
        height: 58px;
        left: 130px;
        top: 440px;
        border: none;
        background: #000000;
    
        border-radius: 20px;
        font-family: 'Sarabun';
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
    }
    
    .teste {
        position: absolute;
        top: 550px;
    }

}
